services:
  app:
    build: 
      dockerfile: ./build/Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - .env
  mongo:
    image: mongo:8.0
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
      - ./build/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin_user
      MONGO_INITDB_ROOT_PASSWORD: admin_password
      MONGO_INITDB_DATABASE: ${DB_NAME}
    env_file:
      - .env
    restart: unless-stopped
volumes:
  mongodb_data: